

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 0 auto 0 auto;
  width: 55%;
  padding-top: 4%;
  font-family: 'Sacramento', cursive;
  font-size: 562.5%;
  color: #041562;
}

.top {
  background-color: #F4F9F9;
  height: 30%;
  width: 100%;
}

.middle{
  background-color: #CCF2F4;
}

.bottom{
  background-color:#A4EBF3;
}

.cloud2 {
  position: absolute;
  display: inline-block;
  left: 25%;
}

.p1{
  font-family: 'Montserrat', sans-serif;
  font-style: oblique;
  font-size: 1.5rem;
}

.cloud1{
  position: absolute;
  display: inline-block;
  right: 24%;
  top: 10%;
}

.imageself {
  padding-top: 2em;
  height: 200px;
}

.instagram {
  padding-top: 20px;
  height: 50px;
}

.youtube {
  padding-top: 20px;
  height: 50px;
}

.skills{
  text-align: center;

}

.btn {
  -webkit-border-radius: 10;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Montserrat', sans-serif;
  color: #e5fbff;
  font-size: 17px;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #089cff);
  background-image: -moz-linear-gradient(top, #3cb0fd, #089cff);
  background-image: -ms-linear-gradient(top, #3cb0fd, #089cff);
  background-image: -o-linear-gradient(top, #3cb0fd, #089cff);
  background-image: linear-gradient(to bottom, #3cb0fd, #089cff);
  text-decoration: none;
}

.pesatu {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: bold;
}

.table1 {
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto 0 auto;
  text-align: left;
  font-weight: bold;
}

h3 {
  font-size: 2.4rem;
  width: 50%;
  margin: 0 auto 10% auto;
  color: #11468F;
  font-weight: bolder;
}

.contact-me {
  padding-bottom: 2%;
}

#head3 {
  font-size: 2.4rem;
  width: 50%;
  margin: 0 auto 0 auto;
  color: #11468F;
}

hr {
  border-style: dotted none none;
  border-color: grey;
  border-width:15px;
  width: 10%;
}

.pedua{
  font-family: 'Montserrat', sans-serif;
  width: 40%;
  margin: 0 auto 2%;
  font-weight: bold;
}
